<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your weekend time table</title>
</head>
<body><h1> It is time <%= dayType %>,<%= advice %></h1>
    
</body>
</html>